<%= render "lists/components/banner" %>
<div class="container">
  <h1> <%= @list.name %> </h1>
   <% if  %>
    <% @list.photo.attached? == false %>
     <%= link_to list_path(@list) do %>
        <%= image_tag "https://source.unsplash.com/1600x900/?#{@list.name.downcase}", alt: " List category: #{@list.name}", class: 'card-img-list' %>
    <% end %>
    <% else %>
    <%= link_to list_path(@list) do %>
    <%= cl_image_tag @list.photo.key, class: 'card-img-top card-img', crop: :fill %>
    <% end %>
  <% end %>
<hr>

<h3>Bookmarks</h3>
  <ul>
    <% @list.movies.each do |movie| %>
      <li>
        <%= image_tag movie.poster_url, alt: "Movie title: #{movie.title}", class: "bookmark-img" %>
        <%= movie.title %> |
        <% movie.bookmarks.each do |bookmark|%>
          <%= bookmark.comment %> |
          <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete %>
          <% bookmark.comments.each do |comment| %>
          <%= comment.rating %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <h2>Add a bookmark</h2>
  <%= render "/bookmarks/form", list: @list, bookmark: @bookmark %>
</div>
